* {
  box-sizing: border-box;
}

html {
  background: #343239e0;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

/*Font*/
@font-face {
  font-family: "Njnaruto";
  src: url("../fonts/njnaruto.ttf") format("woff");
  font-display: swap;
}

/*Header*/
header {
  display: flex;
  min-height: 70px;
  background-color: #343239;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-page {
  font-family: "Njnaruto", sans-serif;
  font-weight: 100;
  color: #fbf9fb;
}

.header-logo {
  display: flex;
  text-decoration: none;
}
.header-logo img {
  width: 65px;
  height: 65px;
  margin-right: 5px;
}

nav a {
  text-decoration: none;
  color: #fbf9fb;
  font-weight: 600;
  margin-right: 10px;
}

nav a:hover {
  background-color: #f03c33c5;
}

/*Description container*/
.description-row::after {
  content: "";
  clear: both;
  display: table;
}

.description-container {
  width: 75%;
  background-color: #eeeeee;
  margin: 30px auto 25px;
  padding: 20px;
  border-radius: 10px;
}

.description-image {
  width: 20%;
  float: left;
  padding-right: 25px;
}

.description-image img {
  width: 100%;
  border-radius: 5px;
}

.description-text {
  width: 80%;
  float: left;
}

.description-text h2 {
  font-weight: 700;
}

.description-text p {
  line-height: 1.5;
}

.description-text ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.description-text span {
  color: #1d95cf;
}

.description-text .description-status {
  background-color: #db3541;
  font-weight: 500;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}

/*Chapters*/
.chapters-cards::after {
  content: "";
  clear: both;
  display: table;
}

.chapters-container {
  width: 80%;
  margin: 0 auto;
}

/*Begin chapters cards*/
.chapters-item {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  float: left;
}

.chapters-item > img {
  width: 70%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.chapters-hover img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chapters-hover {
  position: absolute;
  top: 0;
  left: 14.5%;
  display: block;
  width: 70.5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 0.5s;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.chapters-hover p {
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.chapters-item:hover .chapters-hover {
  transform: scale(1);
}

.chapters-container h2 {
  color: whitesmoke;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 5px;
  padding-left: 35px;
  position: relative;
  margin-top: 20px;
}

.chapters-container h2::after {
  background: #db3541;
  position: absolute;
  left: 0;
  top: -6px;
  height: 32px;
  width: 5px;
  content: "";
}

/*Comments*/
.comments {
  background-color: #db3541;
  height: 500px;
}

/*Footer*/
footer {
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  clear: both;
}

.footer-container {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.footer-content {
  text-align: center;
}

.footer-content h4 {
  color: #fff;
  font-weight: 200;
  border-bottom: 3px solid #f03d33;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-content {
  color: #ccc;
}

.footer-title {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/*Media Queries*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  nav a {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
  }

  .description-image {
    width: 100%;
    padding: 0;
  }

  .description-text {
    width: 100%;
  }

  .description-text h2 {
    text-align: center;
  }

  .description-text p {
    text-align: justify;
  }

  button {
    margin-bottom: 5px;
  }

  .chapters-hover {
    width: 100%;
  }

  .chapters-hover p {
    font-size: 10px;
  }

  .chapters-item img {
    width: 100%;
  }

  .chapters-item {
    width: 100%;
    padding: 5px;
  }

  .comments {
    width: 100%;
  }

  .comments h2 {
    text-align: center;
    color: whitesmoke;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  nav a {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
  }

  .description-image {
    width: 100%;
    padding: 0;
  }

  .description-text {
    width: 100%;
  }

  .description-text h2 {
    text-align: center;
  }

  .description-text p {
    text-align: justify;
  }

  button {
    margin-bottom: 5px;
  }

  .comments {
    width: 100%;
  }

  .comments h2 {
    text-align: center;
    color: whitesmoke;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 20px;
  }

  nav a {
    font-size: 23px;
  }

  .description-image {
    width: 50%;
  }

  .description-text {
    width: 50%;
  }

  .comments h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 25px;
  }

  nav a {
    font-size: 25px;
  }

  .description-image {
    width: 33.33%;
  }

  .description-text {
    width: 66.66%;
  }

  .comments h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 19px;
  }

  nav a {
    font-size: 25px;
  }

  .description-image {
    width: 33.33%;
  }

  .description-text {
    width: 66.66%;
  }

  .footer-content {
    font-size: 22px;
  }
}
