* {
  box-sizing: border-box;
}
html {
  background: #111111;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

/*Font*/
@font-face {
  font-family: "Njnaruto";
  src: url("../fonts/njnaruto.ttf") format("woff");
  font-display: swap;
}

.header-page {
  font-family: "Njnaruto", sans-serif;
  font-weight: 100;
  color: #fbf9fb;
}

/*Burger menu*/
.off-canvas-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
}

.off-canvas-burger {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 998;
  width: 3rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #f03d33;
  transform: rotate(0deg) translate(0, -1.2rem);
  transform-origin: top left;
  transition: transform 500ms ease, background-color 500ms ease;
}

.off-canvas-burger::before,
.off-canvas-burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: #f03d33;
  transition: transform 500ms ease;
}

.off-canvas-burger::before {
  transform: rotate(0deg) translate(0, -0.9rem);
}

.off-canvas-burger::after {
  transform: rotate(0deg) translate(0, 0.3rem);
}

.off-canvas-btn:checked + .off-canvas-burger {
  background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burger::before {
  transform: rotate(45deg) translate(0, 0);
}

.off-canvas-btn:checked + .off-canvas-burger::after {
  transform: rotate(-45deg) translate(0.4rem, -0.5rem);
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
  transition: transform 500ms ease-in-out;
  transform: translate(0, -100%);
  transform: translate(0, 100%);
  transform: translate(100%, 0);
  transform: translate(-100%, 0);
}

.off-canvas-btn:checked ~ .off-canvas-menu {
  transform: translate(0, 0);
}

.off-canvas-menu-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.off-canvas-link {
  border-top: thin solid #f03d33;
  border-bottom: thin solid #f03d33;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 300ms ease;
}

.off-canvas-link:hover {
  background-color: #d005;
}

/*Header*/
header {
  display: flex;
  min-height: 70px;
  background-color: #343239;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-logo {
  display: flex;
}

.header-logo img {
  width: 65px;
  height: 65px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #fbf9fb;
}

nav a {
  font-weight: 600;
  margin-right: 10px;
}

nav a:hover {
  background-color: #f03c33c5;
}

/*Carrousel*/
.carrousel-image {
  height: 400px;
  width: 75%;
}

.carrousel-slider {
  width: 50%;
  height: 400px;
  overflow: hidden;
  margin: 1em auto;
}

.carrousel-slider ul {
  display: flex;
  animation: cambio 10s infinite alternate linear;
  width: 400%;
}

.carrousel-slider li {
  width: 100%;
  list-style: none;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.carrousel-title {
  text-align: center;
  font-weight: bold;
  font-family: "Nokora", sans-serif;
}

/*last episodes*/
.main-container::after,
.lepisode-anime-cards::after,
.week-anime-card::after {
  content: "";
  clear: both;
  display: table;
}

.lepisode-container {
  width: 66.66%;
  float: left;
}

.lepisode-container .lepisode-paragraph {
  color: whitesmoke;
  text-align: justify;
  padding: 0 3%;
  line-height: 2;
}

.lepisode-container .lepisode-paragraph b {
  color: #f03d33;
}

/*Begin cards*/
.lepisode-anime-image {
  width: 25%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  float: left;
}

.lepisode-anime-image > img {
  width: 70%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.lepisode-anime-hover {
  position: absolute;
  top: 0;
  left: 15%;
  display: block;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 0.5s;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.lepisode-anime-hover img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;

  margin: 0 auto;
}

.lepisode-anime-hover p {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.lepisode-anime-image:hover .lepisode-anime-hover {
  transform: scale(1);
}
/*End cards*/

/*Lo mejor de esta semana*/
.week-container {
  width: 33.33%;
  float: left;
}

/*hover with a border red in transition*/
.week-anime-card:hover {
  color: yellow;
  background-color: #f03d33;
  /*make bigger the font*/
  font-size: 1.1rem;
}

.week-anime-image {
  width: 20%;
  float: left;
}

.week-anime-image img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 2px;
}

.week-anime-paragraph {
  width: 80%;
  float: left;
}

/*Anime news*/
.news-cards a img {
  width: 25%;
  display: block;
  margin: 10px auto;
}

.news-cards a p {
  text-align: center;
  color: whitesmoke;
}

.news-item {
  width: 20%;
  float: left;
}

/*change the color of the text*/
.news-item p {
  text-align: center;
}

.news-item:hover img {
  transform: scale(1.3);
  transition: 0.5s;
}

/*New anime*/
.new-anime-item {
  width: 20%;
  float: left;
}

.new-anime-item .lepisode-anime-image {
  width: 100%;
}

.new-anime-paragraph {
  color: #dddddd;
  text-align: justify;
  padding: 0 3%;
  line-height: 2;
}

.new-anime-paragraph b {
  color: #f03d33;
}

.new-anime-title,
.news-title,
.carrousel-title,
.week-title,
.lepisode-title {
  color: whitesmoke;
}

/*Footer*/
footer {
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  clear: both;
}

.footer-container {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.footer-content {
  text-align: center;
}

.footer-content h4 {
  color: #fff;
  font-weight: 200;
  border-bottom: 3px solid #f03d33;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-content {
  color: #ccc;
}

.footer-title {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
